@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* COMMON TO ALL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  /* height: 100vh; */
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

/* HEADING DESIGN */
.headingg {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
  text-align: center;
}

.headingg p {
  color: #828282;
}

/* FORM DESIGN */
.formm {
  width: 80%;
  margin: 0 auto;
}

.formm-group {
  margin-bottom: 10px;
}

.formm-group input,
.formm-group textarea,
.formm-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.formm-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

/* BUTTON DESIGN   */
.btnn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .btnn svg {
  margin-right: 8px;
}

.btnn-reverse {
  background: #fff;
  color: #000;
} */

.btnn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btnn:hover {
  transform: scale(0.98);
}

/* SPINNER DESIGN */
.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}

/* APP FOOTER */
.app-footer {
  min-height: 60px;
  border-top: 1px solid #ccc;
}

/* APP FOOTER FROM DASHBOARD */
.app-footer-dash {
  min-height: 120px;
  /* background: rgb(174, 234, 252); */
  border-top: 1px solid #ccc;
}
